<p>Hi,</p>

<p>The following person has made an enquiry:</p>
<hr>
<p><b>Name :</b> <%= @name %></p>
<p><b>Email :</b> <%= mail_to @email %></p>
<p><b>Message :</b><br><br>
  <%= raw(@message) %>
</p>
<br>
<p>Thanks</p>