p Hi #{@registration.first_name},
br

p We are pleased to inform you that your registration for <b>Orani 360 - Half Marathon</b> has been approved. Your registration number is #{@registration.registration_no}.
br
p For issues or concerns, please call Mr. Louie Cotejar at 0920-919-8237.
br
br
p *** This is a system-generated email. Please do not reply. Thank you. ***
br
br
p Best Regards,
br
  | Orani 360 - Half Marathon Support Team