p Hi #{@registration.first_name},
br

p We are pleased to inform you that your registration for <b>Orani 360 - Half Marathon</b> has been approved. Your registration number is #{@registration.registration_no}.
br
p If you have any questions, feel free to contacts us through blah blah blah

br
br
p Best Regards,
br
  | Orani 360 - Half Marathon Support Team