p Hi #{@registration.first_name},
br

p We are sorry to inform you that your registration for <b>Orani 360 - Half Marathon</b> on #{@registration.date_registered.to_s(:long)} has been disapproved for the following reason(s):
br
p
  strong Reason:
p #{raw(@registration.rejected_registration.reason)}
br
p For issues or concerns, please call Mr. Louie Cotejar at 0920-919-8237.
br
br
p *** This is a system-generated email. Please do not reply. Thank you. ***
br
br
p Best Regards,
br
  | Orani 360 - Half Marathon Support Team