$nprogress-color: #f1f1f1;
$nprogress-height: 5px;
$nprogress-zindex: 10100;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables/dataTables.bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";

$bgDefault      : #204f82;
$bgHighlight    : #0a3aac;
$colDefault     : #ecf0f1;
$colHighlight   : #f7f5f5;
$dropDown       : false;
$regInfoDefault : #27317f;


body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .top-nav {
    font-size: 14px;
  }
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

//.navbar-fixed-top .nav {
//    padding: 15px 0;
//}

//.navbar-fixed-top .navbar-brand {
//    padding: 0 15px;
//}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
#clock {
  color: #27317f;
  font-size: 30px;
  span {
    font-size: 36px;
    font-weight:bold;
  }
  @media (max-width: 767px) {
    font-size: 20px;
    span {
      font-size: 22px;
    }
  }
}

table.registration-details {
  background: #fffeff !important;
  th, td {
    background:#fffeff;
  }
  th {
      background: #ffc940;
      border:none;
      color: #27317f;
      font-size:24px;
      font-weight:bold;
      text-align:center;
      font-style:italic;
      text-transform:uppercase;
      vertical-align: middle;
      @media (max-width: 767px) {
        font-size: 16px;
      }
  }
  tbody {
    td {
      color:$regInfoDefault;
      font-size:24px;
      font-weight:bold;
      text-align:center;
      height:80px;
      vertical-align:middle;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    td:first-child {
      color:#fff;
      font-size:24px;
      &.events {
        width:27%;
      }
      &.registration-info {
        font-size: 16px;
        color: $regInfoDefault;
        font-style: normal;
      }
      &.registration-extras {
        font-size: 14px;
        color: $regInfoDefault;
        font-style: normal;
        text-align:left;
      }
    };
    td:last-child {
      font-size:20px;
      font-style:italic;
      text-align:center;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    };
    td.e-21k {
      background:#071d9d;
    }
    td.e-10k {
      background:#fb021a;
    }
    td.e-5k {
      background:#289a33;
    }
    td.e-3k {
      background:#ff6225;
    }
  }
  tfoot {
    td {
      color:#27317f;
      font-size:14px;
      font-style:italic;
    }
  }
}
.jumbotron {
  background: #4f6fea;
}
.has-error {
  .control-label, label.boolean {
    color: #000 !important;
  }
}
.cat-21k {
  background:#071d9d !important;
}
.cat-10k {
  background:#fb021a !important;
}
.cat-5k {
  background:#289a33 !important;
}
.cat-3k {
  background:#ff6225 !important;
}

//datatables related styles
.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

#partners-table {
  td {
    width:16.67%;
    border:none;
    img {
      max-height:120px;
      margin:auto;
    }
  }

}